.divCard{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}

.example-card {
    max-width: 250px;

  }

img{
    min-height: 181.93px;
    max-height: 181.93px;
}

