<mat-toolbar color="primary">
  <button (click)="toggleSidebar.emit()" mat-icon-button class="example-icon button-header mediumPadding"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="d-flex align-items-center">Angular Coder</h1>
  <span class="example-spacer"></span>

  <span *ngIf="usuarioActivo">
    <img [src]="sesion.usuarioActivo" alt="sesion.usuarioActivo.img" class="user-image mr-1 p-2" />
    {{sesion.usuarioActivo}}
  </span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>notifications_none</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <!-- <h3 class="d-flex align-items-center" style="cursor: pointer;" *ngIf="user" routerLink="">
      User: {{ user.first_name }}
    </h3> -->
 
    <button mat-menu-item>Prueba</button>
    <button mat-menu-item>Prueba</button>
    <button routerLink="" color="warn" mat-flat-button>Login</button>

    <button (click)="logOut()" color="warn" mat-flat-button>Logout</button>

  </mat-menu>

</mat-toolbar>